<main class="main-body">

  <div class="scan-and-info">

      <!-- Div to show the scanner -->
    <div id="scanner-container" ></div>

    <input type="button" id="btn" value="START/STOP BARCODE READER"/>
    <br>

    <%= form_tag(root_path, method: :get, :id => 'acquire_upc' ) do %>
      <%= text_field_tag :upc_input %><br>
    <% end %>

    <b id="this_is_upc"></b>

    <% if @req %>
      <% if @req['status'] == 200 %>
      <div class="general-info">

        <div class="general-info-left">

          <% if @company_score %>

           <% case @company_score %>
           <% when 0..49 %>
           <div class="letter-visuals">
             <div class="letterscore" style="background: linear-gradient(0.25turn, rgb(193, 58, 55) 30%, transparent)"> F </div>
          </div>
           <% when 50 %>
           <div class="letter-visuals">
             <div class="letterscore" style="background: linear-gradient(0.25turn, rgb(140, 140, 140) 30%, transparent)"> ? </div>

          </div>
           <% when 51..64 %>
           <div class="letter-visuals">
             <div class="letterscore" style="background: linear-gradient(0.25turn, rgb(228, 149, 57) 30%, transparent)"> D </div>

          </div>
           <% when 65..75 %>
           <div class="letter-visuals">
             <div class="letterscore" style="background: linear-gradient(0.25turn, rgb(224, 222, 61) 30%, transparent)"> C </div>

          </div>
           <% when 76..85 %>
           <div class="letter-visuals">
             <div class="letterscore" style="background: linear-gradient(0.25turn, rgb(121, 153, 63) 30%, transparent)"> B </div>

         </div>
           <% when 86..100 %>
           <div class="letter-visuals">
             <div class="letterscore" style="background: linear-gradient(0.25turn, rgb(102, 171, 82) 30%, transparent)"> A </div>
          </div>
           <% end %>
           <h4 style="padding-top: 6px">OUR LETTER GRADE</h4>
          <% end %>

        </div>

        <div class="general-info-right">
          <h1> <%= @matched_company if @matched_company %> </h1>
          <% if @company_score %>
          Company Score: <%= @company_score %>
           <% case @company_score %>
           <% when 0..49 %>
           <div class="score-visuals">

            <img src="emoticons/score_F.png">
          </div>
           <% when 50 %>
           <div class="score-visuals">

            <img src="emoticons/score_none.png">
          </div>
           <% when 51..64 %>
           <div class="score-visuals">

            <img src="emoticons/score_D.png">
          </div>
           <% when 65..75 %>
           <div class="score-visuals">

             <img src="emoticons/score_C.png">
          </div>
           <% when 76..85 %>
           <div class="score-visuals">

           <img src="emoticons/score_B.png">
         </div>
           <% when 86..100 %>
           <div class="score-visuals">

            <img src="emoticons/score_A.png">
          </div>
           <% end %>
          <% end %>

        </div>


      </div>

        <br>


        <div class="scores">

          <div class="general-info-text">
            <%= @req['item']['company_name'] if @req['item']['company_name'] %><br>
            <% if @req['item']['matched_items'] %>
            Manufacturer: <%= @req['item']['matched_items'][0]['manufacturer'] if @req['item']['matched_items'][0] %><br>
            <% end %>
          </div>

          <% if @company_csr %>
            <div>CSR: <%= @company_csr %></div>
          <%end%>
          <% if @company_environment %>
            <div>Environment: <%= @company_environment %></div>
          <%end%>
          <% if @company_politics %>
          <div class="political-box">

            <div class="political-bar">
              <div class="political-fill" style="width: <%= ((6-@company_politics)/6)*100 %>%">
              </div>
            </div>

            <div class="political-icons">
              <img src="democratic.png">
              <img src="republican.png">
            </div>
            <div>
              <% if @company_politics < 3 %>
                MORE LIBERAL THAN CONSERVATIVE
              <% elsif @company_politics == 3 %>

              <% elsif @company_politics > 3 %>
                MORE CONSERVATIVE THAN LIBERAL
              <% end %>
            </div>
          </div>
          <%end%>
          <% if @company_lgbt %>
            <div>LGBT: <%= @company_lgbt %></div>
          <%end%>
        </div>
        <div id="more" class="animated wobble infinite">More &#9660;</div>
      </div>

        <div>
          <div class="news-section">
            <!-- NEWS! -->
            <% if @newsreq && @newsreq.first[1] == "ok" %>
            <hr>
              <h3>RECENT NEWS ON <%= @matched_company.upcase %></h3><br>
              <% @newsarticles[0..4].each do |x| %>
                <a href="<%= x['url']%>"><%= x['title']%></a><br>
                <small>(<%= x['source']['name']%>)</small><br>
                <%= x['description']%> <br>
                <br>
              <%end%>
            <% end %>
            <!-- NEWS! -->

            <% else %>
            Error: <%= @req['message'] %>
      <% end %>



    <% else %>
      Welcome to
    <% end %>

  </div>

</main>

      <!-- here be the quagga barcode reader magic! -->

      <script>
        var _scannerIsRunning = false;

        function startScanner() {
          Quagga.init({
            inputStream: {
              name: "Live",
              type: "LiveStream",
              target: document.querySelector('#scanner-container'),
              constraints: {
                width: 320,
                height: 300,
                facingMode: "environment"
              }
            },
            decoder: {
              readers: [
                // "code_128_reader", "ean_reader", "ean_8_reader", "code_39_reader", "code_39_vin_reader", "codabar_reader",
                "upc_reader",
                // "upc_e_reader", "i2of5_reader"
              ],
              debug: {
                showCanvas: true,
                showPatches: true,
                showFoundPatches: true,
                showSkeleton: true,
                showLabels: true,
                showPatchLabels: true,
                showRemainingPatchLabels: true,
                boxFromPatches: {
                  showTransformed: true,
                  showTransformedBox: true,
                  showBB: true
                }
              }
            }
          }, function (err) {
            if (err) {
              console.log(err);
              return
            }

            console.log("Initialization finished. Ready to start");
            Quagga.start();

            // Set flag to is running
            _scannerIsRunning = true;
          });

          Quagga.onProcessed(function (result) {
            var drawingCtx = Quagga.canvas.ctx.overlay,
              drawingCanvas = Quagga.canvas.dom.overlay;

            if (result) {
              if (result.boxes) {
                drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
                result.boxes.filter(function (box) {
                  return box !== result.box;
                }).forEach(function (box) {
                  Quagga.ImageDebug.drawPath(box, {
                    x: 0,
                    y: 1
                  }, drawingCtx, {
                    color: "blue",
                    lineWidth: 1
                  });
                });
              }

              if (result.box) {
                Quagga.ImageDebug.drawPath(result.box, {
                  x: 0,
                  y: 1
                }, drawingCtx, {
                  color: "#00F",
                  lineWidth: 1
                });
              }

              if (result.codeResult && result.codeResult.code) {
                Quagga.ImageDebug.drawPath(result.line, {
                  x: 'x',
                  y: 'y'
                }, drawingCtx, {
                  color: 'red',
                  lineWidth: 3
                });
              }
            }
          });

          Quagga.onDetected(function (result) {
            console.log("Barcode detected and processed : [" + result.codeResult.code + "]", result);
            document.getElementById('upc_input').value = result.codeResult.code;
            document.getElementById('this_is_upc').innerHTML = result.codeResult.code;
            document.forms["acquire_upc"].submit();
            Quagga.stop();

          });

        }

        // Start/stop scanner
        document.getElementById("btn").addEventListener("click", function () {
          if (_scannerIsRunning) {
            Quagga.stop();
          } else {
            startScanner();
          }
        }, false);
      </script>

      <script>
      window.addEventListener("scroll", function(){
        document.getElementById("more").innerHTML = "";
      });
      </script>
