<!DOCTYPE html>
<html>
  <head>
    <title>P3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=KoHo|Fredoka+One|Libre+Barcode+39+Text" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      /* In order to place the tracking correctly */
      canvas.drawing,
      canvas.drawingBuffer {
        position: absolute;
        left: calc(50% - 160px);
        top: 10px;
      }
    </style>

  </head>

  <body>

    <div class="topnav">
      <a href="#home" class="activenav">CONCON
      </a>

      <div id="myLinks">
        <a href="#news">ABOUT</a>
        <a href="#contact">CREDITS</a>
        <a href="#about">ACCOUNT</a>
      </div>

      <a href="javascript:void(0);" class="icon" onclick="navClick()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <%= yield %>

    <script type="text/javascript">
      function navClick() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>
  </body>
</html>
